html{
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background-color: #DDD;
    }
    &::-webkit-scrollbar-thumb {
        // border-radius: 10px;
        background-color: #38BBB4;
    }

    overflow-x: hidden;

    scrollbar-width: thin;
    scrollbar-color: rgba(#38BBB4,1) rgba(#DDD,1);
}

body{
    font-family: 'frt', sans-serif;
    direction: rtl;
    text-align: right;
    overflow-y: hidden;
}

*{
    font-family: inherit;
}

input, a, button{
    font-family: 'frt', sans-serif;

    &:focus{
        outline: none;
        text-decoration: none;
    }

    &:hover{
        text-decoration: none;
    }
}

button{
    cursor: pointer;

    &:focus, &:active{
        outline: none;
        box-shadow: none;
    }
}

ul.res{
    padding: 0;
    margin: 0;
    list-style: none;
}

.loader-wrap{
	position: absolute;
	left: 0;right: 0;top: 0;bottom: 0;
	margin: auto;
    background-color: #3DDB9E;
    z-index: 9999;
}

.loader{
	$loader-size: 4;
	$animation-duration: 2s;
	$animation-speed: 10;
	$animation-scale: 1.4;
	$loader-color: #ffffff;
	$loader-text-color: #ffffff;
	$loader-font-family: 'Arial';
	
	position: absolute;
	left: 0;right: 0;top: 0;bottom: 0;
	margin: auto;
	height: ($loader-size*10px);
	width: ($loader-size*20px);
	box-sizing: border-box;
	
	.loader-item{
		position: relative;
		float: left;
		height: ($loader-size*10px);
		width: ($loader-size*1px);
		margin: 0 ($loader-size/2)*1px;
		background-color: $loader-color;
		
		@for $i from 1 through 10 {
			&:nth-child(#{$i}){
				animation: loader-item-#{$i} $animation-duration linear infinite;
			}	
		}		
		
	}
	
	&:after{
		content: 'Loading ...';
		font-size: ($loader-size*4px);
		font-family: $loader-font-family;
		color: $loader-text-color;
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: ($loader-size*-8px);
		margin: auto;
	}
	
	@for $i from 0 through 9 {
		@keyframes loader-item-#{$i+1}{
			#{$i+1+$i*5 * 1%}{
			  transform: scaleY(1);
			}
			#{$i+1+$i*5+$animation-speed * 1%}{
				transform: scaleY($animation-scale);
			}
			#{$i+1+$i*5+$animation-speed*2 * 1%}{
				transform: scaleY(1);
			}
			100%{
				transform: scaleY(1);
			}
		}	
	}

}
.owl-carousel .owl-item img {
    width: auto;
}

.fst-back-img {
    position: absolute;
    top: 0px;
    right: -285px;
}
// nav bar
.sec-one {
    min-height: 850px;
    overflow: hidden;
    .container {
        position: relative;
    }
}
.nav-bar {
    .pos {
        align-items: center;
        flex-direction: row-reverse;
        padding: 33px 0 0 0;
        .nav-list {
            display: flex;
            font-family: frtBold;
            align-items: center;
            flex-direction: row-reverse;
            padding: 23px 0 0 0;
            ul {
                align-items: center;
                flex-direction: row-reverse;
                .md-v {
                    display: none;
                }
                li {
                    display: flex;
                    padding: 0 20px 0 0;
                    font-size: 15px;
                    float: left;
                    
                    &:hover a {
                        color: #38bbb4;
                    }
                    button {
                        font-family: frtBold;
                        font-size: 14px;
                        color: #FFF;
                        background-image: linear-gradient(to right, rgb(64,228,151),rgb(59,181,182), rgb(59,181,182), rgb(64,228,151));
                        background-size: 200%;
                        width: 170px;
                        height: 40px;
                        border: none;
                        border-radius: 50px;
                        padding: 0 0 0 0;
                        transition: all .3s ease-in-out;
                        background-position: left;
                        .ur-i {
                            padding: 0 0 0 8px;
                        }
                        &:hover {
                            background-position-x: 100%;
                        }
                    }
                }
                a {
                    color: #000;
                    font-family: frtBold;
                    padding: 8px 0 0 0;
                    transition: all .2s ease-in-out;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        .logo {
            width: 191px;
            display: flex;
            float: right;
        }
    }
    }
.main-img {
    position: absolute;
    left: -370px;
    top: 140px;
}
.hd-mr {
    margin-top: 43%;
}
.main-btns {
    margin-top: 26px;
    font-family: frtBold;
    font-size: 14px;
}
.main-btns .fst-button {
    width: 180px;
    height: 45px;
    border: none;
    border-radius: 50px;
    color: #FFF;
    background-image: linear-gradient(to right, rgb(64,228,151),rgb(59,181,182), rgb(59,181,182), rgb(64,228,151));
    background-size: 200%;
    transition: all .3s ease-in-out;
    &:hover {
        background-position-x: 100%;
    }
}
    
                      
.main-btns .sec-button {
    width: 180px;
    height: 45px;
    border: none;
    border-radius: 50px;
    color: #999;
    background: transparent;
    transition: all .3s ease-in-out;
    &:hover {
        
        i {
            transform: translateX(-5px);
        }
    }
    i {
        padding: 0 8px 0 0;
        transition: all .3s ease-in-out;
    }
}
.fst-p {
    font-family: frt;
    font-size: 30px;
    margin: 0 0 15px 0;
    color: rgb(41, 45, 45);
}
.fst-p span{
    display: block;
    font-family: frtBold;
    font-size: 30px;
    margin: -3px 0 0 0;
    color: rgb(41, 45, 45);
}
.thd-p {
        width: 430px;
        font-size: 18px;
        color: rgb(41, 45, 45);
        line-height: 1.4;
      
}
//section two
.sec-two {
    position: relative;
    .sec-two-header {
        padding-top: 40px;
        .sec-two-thd-p {
            //width: 880px;
            //margin: auto;
            padding: 0 100px 30px 100px;
            font-size: 16px;
        }
    }
    .sec-two-servs {
        .serv {
            min-height: 260px;
            background: #FFF;
            border-radius: 35px;
            box-shadow: 0px 0px 30px 0px rgba(0,0,0, 0.08);
            padding: 30px 25px;
            transition: all .3s ease-in-out;
            cursor: pointer;
            background-image: linear-gradient(to right, rgb(255,255,255), rgb(255,255,255),rgb(64,228,151), rgb(59,181,182));
            background-size: 300%;
            &:hover {
                background-position-x: 100%;
            }
            
            .serv-img {
                position: relative;
                width: 80px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .4s ease-in-out;
                
                &:after{
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    background: #edf9f5;
                    border-radius: 20px;
                }
                img {
                    display: flex;
                    z-index: 99999999;
                }
            }
            p {
                font-family: frtBold;
                font-size: 16px;
                margin: 18px 0 0 0;
                transition: all .4s ease-in-out;
                span {
                    display: block;
                    font-family: frt;
                    font-size: 14px;
                    margin: 6px 0 0 0;
                }
            }

            &:hover {
                .serv-img{

                    &:after{
                        opacity: .15;
                    }
                      
                    img{
                        opacity: 1;
                        filter: brightness(0%) invert(1);
                    }
                }
                p {
                    color: #FFF;
                }
            }
        }
    }
}
.sec-three {
    height: 770px;
    background: url("../images/layer-one.png") top fixed;
    background-size: cover;
    clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0 100%);
    margin: 120px 0;
    color: #FFF;
    .overlay {
        width: 100%;
        height: 100%;
        background: rgb(64,228,151);
        background: linear-gradient(90deg, rgba(64,228,151,.8) 0%, rgba(64,228,151,.6) 26%, rgba(59,182,182,.8) 100%);
        .sec-two-header {
            padding: 160px 0 0 0;
            color: #FFF;
            p {
                color: #FFF;
                span {
                    color: #FFF;
                }
            }
            .sec-two-thd-p {
                font-size: 18px !important;
                padding: 6px;
            }
        }
        .owl-carousel {
             margin: 50px 0 0 0;
             .phone-img {
                 padding: 0 6px;
             }
         }
         .owl-dots {
            display: flex;
            justify-content: center;
            margin: 10px 0 0 0;
            position: absolute;
            bottom: -6%;
            left: 50%;
            transform: translateX(-50%);
            .owl-dot {
                width: 8px;
                height: 8px;
                background-color: #C8E0D8;
                margin: 0 4px;
                border-radius: 50%;
            }
            .active {
                width: 11px;
                height: 11px;
                background-image: linear-gradient(90deg, rgba(64,228,151,.8) 0%, rgba(59,182,182,.8) 100%);
            }
            
        }
    }
}
.sec-four {
    position: relative;
    overflow: hidden;
    h4 {
        margin: 0 0 10px 0;
    }
    .owl-carousel-one {
        .owl-stage-outer {
            padding: 12px 0;
        }
    }
    .owl-carousel .owl-stage{
        padding: 20px 0;
    }
    .owl-dots {
        align-items: center;
    }
    .owl-item {
        width: 160px;
        height: 100px;
        background: #FFF;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        padding: 23px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        .zx-owl {
            display: flex;
            align-items: center;
            img {
                width: auto;
                margin: 0 auto;
                display: flex;
                align-items: center;
            }
        }
    }
    .owl-nav {
        display: none;
    }
    .owl-dots {
        display: flex;
        justify-content: center;
        margin: 10px 0 0 0;
        .owl-dot {
            width: 8px;
            height: 8px;
            background-color: #C8E0D8;
            margin: 0 4px;
            border-radius: 50%;
        }
        .active {
            width: 11px;
            height: 11px;
            background-image: linear-gradient(90deg, rgba(64,228,151,.8) 0%, rgba(59,182,182,.8) 100%);
        }
        
    }
    .prices {
        margin: 140px 0 0 0;
        .prices-pdg {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 35px 0;
            .price {
                flex-direction: column;
                display: flex;
                background: #FFF;
                box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
                border-radius: 20px;
                padding: 15px 12px;
                width: 200px;
                height: 260px;
                margin: 0 10px;
                .sec-two-thd-p {
                    margin: 0 0 40px 0;
                }
                p {
                    font-family: frtBold;
                    font-size: 16px;
                    span {
                        display: block;
                        font-family: frt;
                        margin: 5px 0 0 0;
                    }
                }
                .msgs-price {
                    font-family: frtBold;
                    font-size: 30px;
                    background-image: linear-gradient(90deg, rgba(64,228,151,.8) 0%, rgba(59,182,182,.8) 100%);
                    color: transparent;
                    background-clip: text;
                    width: max-content;
                    margin: auto;
                    span {
                        display: block;
                        margin: -12px;
                        padding: 0;
                    }
                }
                .price-btn {
                    padding: 8px 12px;
                    border: none;
                    border-radius: 50px;
                    color: #FFF;
                    font-family: frtBold;
                    font-size: 14px;
                    background-image: linear-gradient(to right, rgb(64,228,151),rgb(59,181,182), rgb(59,181,182), rgb(64,228,151));
                    background-size: 200%;
                    margin: 12px 0;
                    transition: all .5s ease-in-out;
                    &:hover {
                        background-position-x: 100%;
                    }
                }
                
            }
        }
    }
}
.sec-back-img {
    position: absolute;
    top: 66px;
    right: 820px;
    z-index: -1;
}
.sponser {
    margin: 100px 0 170px 0;
    .owl-carousel.owl-rtl .owl-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        height: 100px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 100px 0 90px 0;
    .owl-dots {
        display: flex;
        justify-content: center;
        margin: 10px 0 0 0;
        .owl-dot {
            width: 8px;
            height: 8px;
            background-color: #C8E0D8;
            margin: 0 4px;
            border-radius: 50%;
        }
        .active {
            width: 11px;
            height: 11px;
            background-image: linear-gradient(90deg, rgba(64,228,151,.8) 0%, rgba(59,182,182,.8) 100%);
        }
        
    }
    .sp-logo{
        width: max-content;
        cursor: pointer;
        display: flex;
        margin: 0 30px;
        transition: all .4s ease-in-out;
        filter: grayscale(100%);
        opacity: .5;
        &:hover {
            filter: grayscale(0%);
            opacity: 1;
        }
        img{

        }
    }
}
.footer-header-sm {
    display: none;
}
.footer-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -122px;
    left: 10%;
    .wsla {
        position: absolute;
        top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        color: #FFF;
        p {
            font-family: frt;
            font-size: 26px;
            margin: 0 0 0 160px;
            span {
                display: block;
                font-family: frtBold;
                font-size: 22px;
            }
        }
        button {
            font-family: frtBold;
            font-size: 14px;
            background-color: transparent;
            color: #FFF;
            border: 1px solid #FFF;
            border-radius: 50px;
            padding: 10px 30px;
            margin: 0 160px 0 0;
            transition: all .2s ease-in-out;
            &:hover {
                background: #FFF;
                color: #3cbcb1;
            }
            
        }
    }
}
.footer {
    background: rgba(0,0,0, .9);
    height: 600px;
    margin: 160px 0 0 0;
    padding: 210px 0 0 0;
    position: relative;
    .footer-header {
        left: 11%;
    }
    .overlay {
        background: url(../images/footer.png);
        background-size: cover;
        width: 100%;
        height: 100%;
        color: #FFF;
        h3 {
            font-family: frtBold;
            font-size: 18px;
        }
        .logos {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row-reverse;
            .logo {
                display: flex;
                margin: 30px 22px;
            }
        }
        form {
            padding: 12px 12px;
            margin: 0 0 40px 0;
            p {
                font-family: frt;
                font-size: 18px;
            }
            .form-input {
                width: max-content;
                margin: 0 auto;
                position: relative;
                i {
                    font-size: 18px;
                    color: #DDD;
                    position: absolute;
                    top: 50%;
                    right:5%;
                    transform: translateY(-50%);
                }
                input {
                    background: #FFF;
                    border: 1px solid #EEE;
                    border-radius: 50px;
                    padding: 12px 60px 15px 130px;
                    width: 520px;
                    &::placeholder {
                        color: #bfbfbf;
                    }
                }
                button {
                    font-family: frtBold;
                    font-size: 16px;
                    background-image: linear-gradient(to right, rgb(64,228,151),rgb(59,181,182), rgb(59,181,182), rgb(64,228,151));
                    background-size: 200%;
                    color: #FFF;
                    border: none;
                    border-radius: 50px;
                    padding: 10px 44px;
                    position: absolute;
                    top: 50%;
                    left:1%;
                    transform: translateY(-50%);
                    transition: all .3s ease-in-out;
                    &:hover {
                        background-position-x: 100%;
                    }
                }

            }
        }
    }
}
.copyright {
        p {
            direction: ltr;
        }
}
.copyright,
.icons {
    padding: 30px 0;
    font-size: 14px;
    i {
        padding: 0 12px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover {
            color: #3cbcb1;
        }
    }
    
}/*
.fa-facebook-f {
    &:hover {
        color: #3b5998;
        transition: all .4s ease-in-out;
    }
}
.fa-twitter {
    &:hover {
        color: #00acee;
        transition: all .4s ease-in-out;
    }
}
.fa-linkedin-in {
    &:hover {
        color: #0e76a8;
        transition: all .4s ease-in-out;
    }
}
*/

.sm-nav {
    display: none;
}

  
 
@media (min-width: 1919px) {
    .fst-back-img {
        right: 0;
    }
    .main-img {
        left: -430px;
    }
    .sec-back-img {
        right: unset;
        left: 0;
    }
    .footer .footer-header {
        left: 22%;
    }
}
@media (max-width: 1200px) {
    .nav-bar .pos .nav-list ul li {
        padding: 0 15px 0 0;
        font-size: 14px;
    }
    .nav-bar .pos .nav-list ul a {
        padding: 10px 0 0 0;
    }
    .sec-one {
        .thd-p {
            width: 360px;
            margin: 0 0 30px 0;
        }
    }
    .sec-two {
        .fst-back-img {
            right: -360px;
            z-index: -1;
        }
    }
    .sec-three {
        height: 900px;
        overflow: hidden;
        .overlay  {
            
        }
    }
    .sec-three .overlay .mopile-imgs {
        margin: 50px auto 0;
    }
    .sec-four {
        .owl-dots {
            margin: 26px 0 0;
        }
    }
    .sec-four {
        .sponser{
            .sp-logo {
                margin: 0 15px;
            }
        }
    }
    .sponser {
        margin: 100px 0 170px 0;
    }
    .footer {
        .footer-header {
            top: -122px;
            left: 8.5%;
            img {
                width: 850px;
                height: 260px;
            }
            .wsla {
                top: 70px;
            }
        }
    }
}


.sm-nav {
    display: none;
}
@media (max-width: 991px) {
    .fst-back-img {
        right: -240px;
        z-index: -1;
    }
    .nav-bar .pos .nav-list ul .md-none {
        display: none;
    }
    .nav-bar .pos .nav-list ul .md-v {
        display: block;
        i {
            padding: 0 0 0 8px;
        }
    }
    .nav-bar .pos .nav-list ul a {
        padding: 10px 0 0 0;
    }
    .sec-one {
        min-height: 550px;
        .main-img {
            display: none;
        }
        .full-col {
            flex: 0 0 100%;
            max-width: 100%;
            .hd-mr {
                margin-top: 60px;
                .thd-p {
                    width: auto;
                }
            }
        }
    }
    .sec-two {
        .fst-back-img {
            right: -360px;
            z-index: -1;
        }
        .sec-two-header {
            .sec-two-thd-p {
                padding: 0 20px 30px 20px;
            }
        }
        .sec-two-servs {
            .half-col {
                flex: 0 0 50%;
                max-width: 50%;
                margin: 20px 0;
                .serv {
                    min-height: auto;
                    padding: 33px 26px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                }
            }
        }
    }
    .sec-three {
        height: 800px;
        overflow: hidden;
    }
    .sec-four {
        .sec-back-img {
            right: 530px;
        }
        .prices {
            margin: 120px 0 0 0;
            .prices-pdg {
                display: block;
                .price {
                    width: auto;
                    height: auto;
                    flex-direction: column;
                }
            }
        }
        .sponser{
            .sp-logo {
                margin: 0 15px;
            }
        }
    }
    .footer {
        margin: 0;
        padding: 100px 0 0 0;
        height: 500px;
        .footer-header {
            display: none;

        }
        
    }
    .footer-header-sm {
        display: block;
        background-image: linear-gradient(90deg, rgba(64,228,151,1) 0%, rgba(64,228,151,1) 26%, rgba(59,182,182,1) 100%);
        padding: 60px 60px;
        button {
            font-family: frtBold;
            font-size: 14px;
            background-color: transparent;
            color: #FFF;
            border: 1px solid #FFF;
            border-radius: 50px;
            padding: 10px 30px;
            margin: 30px 0;
        }
        p {
            font-family: frt;
            font-size: 26px;
            color: #FFF;
            margin: 0;
            span {
                display: block;
                font-family: frtBold;
                font-size: 22px;
            }
            
        }
    }
    .copyright,
    .icons {
        text-align: center;
        padding: 0;
        margin: 0;
    }
}
.sm-nav { 
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    .overlay {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0, .5);
        .menu {
            width: 290px;
            height: 100%;
            position: absolute;
            top: 0;
            right: -290px;
            font-family: frtBold;
            font-size: 20px;
            background-color: #3DDB9E;;
            padding: 20px 0 0 0;
            ul {
                padding: 36px 30px 0 0;
                li {
                    padding: 6px 0;
                    a {
                        text-decoration: none;
                        color: #FFF;
                    }
                    button {
                        font-family: frtBold;
                        font-size: 14px;
                        background-color: transparent;
                        color: #FFF;
                        border: 1px solid #FFF;
                        border-radius: 50px;
                        padding: 10px 30px;
                        margin: 30px 0;
                        img {
                            padding: 0 0 0 8px;
                        }
                    }
                }
            }
            
            i {
                cursor: pointer;
                font-size: 25px;
                float: left;
                color: #fafafa;
                padding: 6px 26px;
            }
        }
    }
}
@media (max-width: 767px) {
    .fst-back-img {
        right: -285px;
    }
    .nav-bar .pos .nav-list ul .md-v {
        display: block;
        margin: 12px 20px;
    }
    .nav-bar .pos .nav-list ul li .log-in {
        display: none;
    }
    .nav-bar .pos .nav-list ul li button {
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        i {
            padding: 0 !important;
        }
    }
    .nav-bar .pos .nav-list ul li button span{
        display: none;
    }
    .sec-two .sec-two-servs .half-col {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .sec-three {
        height: 560px;
        webkit-clip-path: polygon(0);
        clip-path: initial;
        margin: 50px 0 0 0;
        .overlay {
            .sec-two-header {
                padding: 60px 0 0 0;
            }
        }
    }
    .sec-four .prices .prices-pdg .price {
        margin: 12px 0;
    }
    .sec-four {
        margin: 30px 0 20px 0;
        .prices {
            margin: 70px 0 0 0;
        }
    }
    .footer {
        margin: 0;
    }
    .footer-header-sm {
        display: block;
    }
                
    
}

@media (max-width: 480px) {
    .sec-one .full-col .hd-mr {
        margin-top: 25px;
        //text-align: center;
    }
    .sec-two .sec-two-servs .half-col {
        margin: 8px 0;
    }
    .sec-three {
        height: 850px;
    }
    .footer {
        height: 800px;
        .logos {
            flex-direction: column !important;
            .logo {
                margin: 20px 0;
            }
        }
        .overlay {
            form {
                margin: 20px 0 40px 0;
                .form-input {
                    width: max-content;
                    input {
                        width: auto;
                    }
                }
            }
        }
    }
    .owl-carousel .owl-item img {
        margin: auto;
    }
        .sponser {
            margin: 50px 0 30px 0;
        }       
    
}
@media (max-width: 420px) {
    .nav-bar .pos .nav-list {
        padding: 10px 0 0 0;
    }
    .sec-one {
        min-height: auto;
        margin: 0;
    }
    .fst-back-img {
        display: none;
    }
    .sec-back-img {
        display: none;
    }
    .sec-two .sec-two-header {
        display: none;
    }
}
@media (max-width: 375px) {
    .sec-one .full-col .hd-mr {
        text-align: center;
    }
    .main-btns {
        text-align: center;
    }
    .fst-back-img {
        right: -390px;
    }
    .sec-one {
        margin-bottom: 40px;
    }
    .main-btns .fst-button {
        margin: 16px 0;
    }
    .sec-two .fst-back-img {
        right: -600px;
    }
    .sec-two .sec-two-servs .half-col {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .footer .overlay form .form-input input {
        width: auto;
        padding: 10px 43px 13px 90px;
    }
    .footer .overlay form .form-input button {
        padding: 9px 33px;
    }
    .footer .overlay form .form-input input {
        padding: 9px 35px 13px 80px;
    }
}
